.User {
    padding: 10px;
    text-align: center;
    margin-left: 20px;
}

.User a {
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
    transition: all .2s ease-in-out;
    font-weight: bold;
}

