.MenuToggle {
    position: fixed;
    top: 10px;
    left: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    transition: opacity, left .22s ease-in;
    z-index: 100;
}

.MenuToggle:hover {
    opacity: .7;
}

.MenuToggle.open {
    left: 310px;
    color: #fff;
}